apiVersion: v1
kind: Secret
metadata:
  name: {{ .Chart.Name }}-jit-credentials
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  JIT_CLIENT_ID: {{ .Values.jit.clientId | b64enc }}
  JIT_CLIENT_SECRET: {{ .Values.jit.clientSecret | b64enc }} 