apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Chart.Name }}-clusterrole
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
rules:
  # Core API rule
  - apiGroups: [""]
    resources:
      - pods
      - services
      - endpoints
      - nodes
      - serviceaccounts
    verbs:
      - get
      - list

  # Discovery API rule
  - apiGroups: ["discovery.k8s.io"]
    resources:
      - endpointslices
    verbs:
      - get
      - list

  # Apps API rule
  - apiGroups: ["apps"]
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - get
      - list

  # Batch API rule
  - apiGroups: ["batch"]
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list

  # Networking API rule
  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
      - networkpolicies
    verbs:
      - get
      - list

  # Gateway API rule
  - apiGroups: ["gateway.networking.k8s.io"]
    resources:
      - gateways
      - httproutes
    verbs:
      - get
      - list
